#equacoes-do-1grau-pagina {
    background-color: #2980b9; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}

h1 {
    color: white; 
    text-align: center; 
    border: 2px solid white; 
    padding: 10px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); 

}


iframe {
    width: 80%;
    max-width: 560px;
    margin: 20px auto;
    display:block;
}

#equacoes-do-2grau-pagina {
    background-color: #2980b9; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}

h1 {
    color: white; 
    text-align: center; 
    border: 2px solid white; 
    padding: 10px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); 

}


iframe {
    width: 80%;
    max-width: 560px;
    margin: 20px auto;
    display:block;
}

#Funcoes {
    background-color: #2980b9; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}

h1 {
    color: white; 
    text-align: center; 
    border: 2px solid white; 
    padding: 10px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); 

}


iframe {
    width: 80%;
    max-width: 560px;
    margin: 20px auto;
    display:block;
}

#Numerosreais {
    background-color: #2980b9; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}

h1 {
    color: white; 
    text-align: center; 
    border: 2px solid white; 
    padding: 10px; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); 

}


iframe {
    width: 80%;
    max-width: 560px;
    margin: 20px auto;
    display:block;
}