/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    background-color: #8ac3f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2b4c6d;
    text-align: center;
    font-size: 5.0em;
}

h2 {
    color: #2980b9;
    font-size: 3em;
}

h6{
    color: white;
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

ul {
    list-style-type:none;
    padding: 0;
}

li {
    margin: 20px 0;
}

a {
    color: #3cbfe7;
    text-decoration: none;
    font-size:x-large;
}

a:hover {
    text-decoration:underline;
}

/* Estilos para as seções */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*Estilos para a pagina de equações do 1 grau*/

